@use "../base/variables.scss";

.collapse-container p {
        margin-block: 15px;
        margin-inline: 20px;
    }
  
  .collapse-title {
    background-color: variables.$primary-color;
    color: variables.$tertiary-color;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px 10px 15px;
  }

  .arrow-icon {
    width: 20px;
    height: 20px;
    transition: transform 0.3s ease; /* Animazione della freccia */
  }
  
  .arrow-icon.rotate {
    transform: rotate(180deg); /* Ruota di 180 gradi quando aperto */
  }

  .collapse-content {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
  transition: max-height 0.5s ease, opacity 0.3s ease; /* Animazione apertura */
}
  
  .collapse-content.open {
    max-height: 500px;
    opacity: 1;
    transition: max-height 0.5s ease, opacity 0.5s ease; /* Animazione */
  }  