@use '../base/variables';

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 100px;
    padding-block: 45px;
    .header__logo {
    height: 68px;
}
};

.navbar ul {
    display: flex;
    list-style: none;
      li {
      padding-left: 57px;
          a { text-decoration: none;
              color:variables.$secondary-color;
            }
          }
        };