@use './variables';
@use './reset';

body {
    margin: auto;
    max-width: 1920px;
    font-family: variables.$font-family;
    font-size: variables.$font-size-md;
}

@media (max-width: 768px) {
    html {
      font-size: 8px; /* Reduce font size on tablet */
    }
  }

main {
    padding-inline: 100px;
    margin-block: 25px;
    h1, h2 {
        color: variables.$primary-color;
    }
    @media (max-width: 768px) {
        padding-inline: 20px;
    }
}