@use './variables';
@use './reset';

body {
    margin: auto;
    max-width: 1920px;
    font-family: variables.$font-family;
    font-size: variables.$font-size-base;
    //color: variables.$tertiary-color; Put Black in the Navbar(header) and primary-color in the 404 page
    //gap: 50px; Togli?
}

main {
    padding-inline: 100px;
    margin-block: 25px;
    h1, h2 {
        color: variables.$primary-color;
    }
}