$primary-color: #FF6060;
$secondary-color: #000000;
$tertiary-color: #FFFFFF;

$font-family: 'Montserrat', sans-serif;

$font-size-xxl: 18rem;       // 288px
$font-size-xl: 3rem;         // 48px
$font-size-lg: 2.25rem;      // 36px
$font-size-md: 1.5rem;       // 24px
$font-size-sm: 1.125rem;     // 18px
$font-size-xs: 0.875rem;     // 14px