$primary-color: #FF6060;
$secondary-color: #000000;
$tertiary-color: #FFFFFF;

$font-family: 'Montserrat', sans-serif;

$font-size-base: 24px;
$font-size-small: 18px; // Or in rem?
$font-size-large: 36px;