@use "../base/variables.scss";

.apartment-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.apartment-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  p {
    font-size: variables.$font-size-sm;
  }
}
  
  .apartment-essentials {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 1rem;
    h1, h2 {
      font-weight: 500;
    }
  }
  
  .essential-info1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
     h1 {
      font-size: variables.$font-size-lg;
      margin-bottom: 0.5rem;
      color: variables.$primary-color;
    }
  }

  .apartments__tags {
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
    margin: 1rem 0;
    ul {
      list-style: none;
      padding: 0;
      display: flex;
      gap: 0.5rem;
    }
    li {
      background-color: variables.$primary-color;
      padding: 0.5rem 1rem;
      border-radius: 30px;
      color: variables.$tertiary-color;
      font-size: variables.$font-size-xs;
      font-weight: 700;
    }
  }
  
  .essential-info2 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    padding-bottom: 15px;
    }

.host-info {
  display: flex;
  align-items: center;
  gap: 1rem;
    h2 {
      font-size: variables.$font-size-sm;
    }

  .host-picture {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    object-fit: cover;
  }
}

  .rating {
    display: flex;
    gap: 5px;
    
    .star-icon {
      width: 36px;
      height: 36px;
    }
  }

.collapse__container--apartments {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px;
    .collapse-title {
      font-size: variables.$font-size-sm;
    }
}

.description__container,
.equipments__container {
    width: 45%;
}

.equipments__container {
  p {
    margin-bottom: 0;
  }
}

@media (max-width: 768px) {
  .apartment-essentials {
    flex-direction: column;
    margin-bottom: 0;
  }

  .essential-info1 {
    p {
      font-size: 1.75rem;
    }
    .apartments__tags li {
      font-size: 1.25rem;
    }
  }

  .essential-info2 {
    flex-direction: row-reverse;
    align-items: center;
    padding-bottom: 12px;
    .host-info {
      h2 {
        font-size: 1.5rem;
      }
      .host-picture {
        width: 32px;
        height: 32px;
      }
    }
    .star-icon {
      width: 18px;
      height: 18px;
    }
  }

  .collapse__container--apartments {
    flex-direction: column;
    gap: 20px;
    margin-bottom: 27px;

    .description__container, .equipments__container {
      width: 100%;
      .collapse-title {
        padding: 10px;
        font-size: 1.625rem;
      }
    }
  }
}