@use '../base/variables';


h1 {
    font-size: 288px;
}

h1, h2 {
    color: variables.$primary-color;
}

main {
        display: flex;
        flex-direction: column;
        align-items: center;
}

//Creation des div, attention style GLOBALE!