@use '../base/variables';


.errorPage__title {
    font-size: variables.$font-size-xxl;
    margin-top: 100px;
}

.errorPage {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 139px;
        a {
            color: variables.$secondary-color;
            margin-bottom: 139px;
            font-size: variables.$font-size-sm;
        }
        h2 {
            font-weight: 500;
        } 
}