
.cards-container {
    background-color: #F6F6F6;
    border-radius: 25px;
    display: grid;
    grid-template-columns: repeat(3, 340px);
    gap: 50px;
    justify-content: center;
    padding: 50px;
    margin-bottom: 50px;
}