
.cards-container {
    background-color: #F6F6F6;
    border-radius: 25px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));    gap: 50px;
    justify-content: center;
    padding: 50px;
    margin-bottom: 50px;

    /* Media query for desktop */
    @media (min-width: 768px) {
        grid-template-columns: repeat(3, 1fr);
    }

    /* Media query for mobile */
    @media (max-width: 768px) {
        background-color: transparent;
        padding: 0;
        gap: 20px;
        margin-block: 3px 27px;
    }
}